/* src/app/registration/registration.component.css */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

div {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  margin-top: 5px;
}

button {
  padding: 10px;
}
