<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="EmployeeInfo" connectionString="data source=DESKTOP-TIC5DM4\SQLEXPRESS;initial catalog=EmployeeDB;integrated security=true;" providerName="System.Data.SqlClient"></add>
	</connectionStrings>
</configuration>